<div class="sidebar">
    <ul>
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/servers">Servers</a></li>
      <li><a href="/store">Store</a></li>
      <li><a href="/earn">Earn</a></li>
      <li><a href="/account">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>